 name: Telegram To Site
on:
  repository_dispatch:
    types: [telegram_message]
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Python Update
        run: |
          import json, os
          text = os.environ.get('MSG', 'ذكر جديد')
          with open('azkar.json', 'r+', encoding='utf-8') as f:
              data = json.load(f)
              data.insert(0, {"text": text})
              f.seek(0); json.dump(data, f, ensure_ascii=False, indent=4); f.truncate()
        shell: python
        env:
          MSG: ${{ github.event.client_payload.text }}
      - name: Push
        run: |
          git config user.name "Bot"; git config user.email "bot@github.com"
          git add azkar.json; git commit -m "Update Zekr"; git push
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }} 
